
.divform{
  height: 70%;
  width: 45%;
  background-color: #ffb499;
  padding: 10px;
  position: absolute;
  left: 10%;
}
h3{
  text-align: center;
}

.tag1 input{
  height: 3vw;
  width: 15vw;
  position: relative;
  left: 2%;
  padding: 6px;
}

#form1{
  padding: 5vw;
}
