
<!DOCTYPE html>
<html ng-app="app">
  <head>
  <title>Hide a Form</title>
    <link href="main.css" rel="stylesheet"/>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
  </head>

  <body ng-controller='formControl'>
  <img src="newyork.jpg" height="295" width=100%/>
    <img src="Minion.jpg" height="150" width="150" class="profile"/>

    <form class="myForm">
      <label>Name</label><br/>
      <div name="user">{{user}}</div>
      <label>Biodata</label><br/>
      <div name="bio">{{bio}}</div>
      <label>Fav Books</label><br/>
      <div name="book">{{book}}</div>
      <label>Fav js libraries</label><br/>
      <div name="jsl">{{jsl}}</div><br/>
  </form>

  <button class="btn" ng-click="insert()">{{changeText}}</button>

  <form ng-show='show1' class='form2'>
    <label>Name</label><br/>
    <input type="text" placeholder="name" ng-model="user2" name="user2"></input><br/>
    <label>Biodata</label><br/>
    <textarea type="text" placeholder="Biodata" ng-model="bio2" name="bio2"></textarea><br/>
    <label>Fav Books</label><br/>
    <input placeholder="Book Names" ng-model="book2" name="book2"></input><br/>
    <label>Fav js libraries</label><br/>
    <input placeholder="jS libraries" ng-model="jsl2" name="jsl2"></input><br/>
    <br/>
    <button class="btn1" ng-click="updateData()">Submit</button>
</form>


</body>
  <script src="main.js"></script>
</html>
