
.divform{
  height: 500px;
  width: 500px;
  background-color: Gainsboro ;
  padding: 10px;
  position: absolute;
  left: 10%;
}

.tag1 input{
  height: 36px;
  width: 200px;
  position: relative;
  left: 18px;
  padding: 6px;
}

button, select{
    text-transform: none;
    height: 36px;
    width: 193px;

}

.tag1 #Role{
  position: relative;
  left: 98px;
}

.tag1 #Name{
  position: relative;
  left: 90px;
}

.tag1 #StreetAddress{
  position: relative;
  left: 30px;
}

.tag1 label{
  padding: 10px;
}

.tag1 button{
  width: 120px;
  height: 45px;
}

table{
    border-collapse: collapse;
}

table, td, th{
    border: 1px solid black;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 15px;
}
